/**
 CSS Stylesheet for portfolio
 **/


#marvelCharacter{
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  color: blue;
  line-height: 1.5;
}

#messageboard{
  word-wrap: break-word;
}

#description {
  margin: 10px;
}
